# Copie para .env e preencha de acordo:
MONGODB_URI=mongodb+srv://botzdg_user:R20s01s1999@apiwhatsapp.gpg34u3.mongodb.net/?appName=apiwhatsapp?retryWrites=true&w=majority
WWEBJS_CLIENT_ID=BOT-ZDG
WWEBJS_DATA_PATH=remoteauth
